<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
	<!-- /include/menu::sidemenu -->
	<div th:fragment="sidemenu">
		<div><span th:text="${session.loginMember.memberId}"></span> 님</div>
		<nav class="navbar bg-primary navbar-nav">
			<ul class ="flex-column">
				<li class="nav-item">
					<a class="nav-link" th:href="@{/home}" style="color : black">HOME</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/memberInfo}" style="color : black">회원정보</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/cashbookList}" style="color : black">가계부관리</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/boardList}" style="color : black">게시판</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" th:href="@{/logout}" style="color : black">로그아웃</a>
				</li>
			</ul>
		</nav>
	</div>
	
	<!-- fragment -->
	
	<!-- fragment -->
	
	<!-- fragment -->
	
	<!-- fragment -->
</body>
</html>