<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Add Category</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style th:include="/include/menu::side"></style>
<script>
	$(document).ready(function(){
		// 엔터키 키다운
		$("#categoryName").keydown(function(key) {
            if(key.keyCode == 13) {
            	event.preventDefault();
            }
        });

		$('#btn').click(function(){
			if($('#categoryName').val() == ("")) {
				$('#helper').text("추가하실 카테고리 이름을 입력하세요.");
				return;
			}
			$('#form').submit();
		});
	});
</script>
<style th:include="/include/menu::side"></style>
<style>
	#sidemenu {
		float: left;
	}
	
	p {
		text-align: center;
	}
</style>
</head>
<body>
	<div id="sidemenu" th:include="/include/menu::sidemenu" class="sidenav"></div>
	<div class="container">
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">
				<h1 style="margin: 80px; text-align:center">카테고리 추가</h1>
				<form method="post" th:action="@{/addCategory}" id="form">
					<input type="hidden" name="day" th:value="${day}">
					<div>
						카테고리
						<input type="text" name="categoryName" class="form-control" placeholder="추가하실 카테고리를 입력해주세요." id="categoryName">
					</div><br>
					<span id="helper" style="color:red;"></span>
					<div><br>
						<p><button type="button" id="btn" class="btn btn-primary btn-block btn-lg">카테고리 추가</button></p>
					</div>
				</form>
			</div>
			<div class="col-3"></div>
		</div>
	</div>
</body>
</html>