<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>addMember</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
	let helperInit = function() {
		$('#idHelper').text("");
		$('#pwHelper').text("");
		$('#nameHelper').text("");
		$('#addrHelper').text("");
		$('#phoneHelper').text("");
		$('#mailHelper').text("");
	};
	
	$(document).ready(function(){
		$('#btn').click(function(){
			helperInit();
			if($('#memberId').val().length < 4) {
				$('#idHelper').text("아이디를 4글자 이상 입력해주세요.");
				$('#memberId').focus();
			} else if($('#memberPw').val().length < 4) {
				$('#pwHelper').text("비밀번호를 4글자 이상 입력해주세요.");
				$('#memberPw').focus();
			} else if($('#memberPw').val() != $('#memberPw2').val()) {
				$('#pwHelper').text("비밀번호를 확인해주세요.");
				$("#memberPw").focus();
			} else if($('#memberName').val().length === 0) {
				$('#nameHelper').text("이름을 입력해주세요.");
				$("#memberName").focus();
			} else if($('#memberAddr').val().length === 0) {
				$('#addrHelper').text("주소를 입력해주세요.");
				$("#memberAddr").focus();
			} else if($('#memberPhone').val().length === 0) {
				$('#phoneHelper').text("전화번호를 입력해주세요.");
				$("#memberPhone").focus();
			} else if($('#memberMail').val().length === 0) {
				$('#mailHelper').text("메일을 입력해주세요.");
				$("#memberMail").focus();
			} else {
				$('#myForm').submit();
			}
		});
	});
</script>
<style>
	p {
		text-align: center;
	}
</style>
</head>
<body>
	<div class ="container">
		<div class="row">
	  		<div class="col-3"></div>
	  		<div class="col-6">
	  			<br>
				<h1 style="margin: 40px; text-align:center">회원가입</h1>
				<br>
				<form id = "myForm" method = "post" action="/addMember">
					<div>
						아이디<br>
						<input type="text" name="memberId" id="memberId" class="form-control" >
						<span id="idHelper"></span>
					</div><br>
					<div>
						비밀번호<br>
						<input type="password" name="memberPw" id="memberPw" class="form-control">
						<span id="pwHelper"></span>
					</div><br>
					<div>
						비밀번호 확인<br>
						<input type="password" id="memberPw2" class="form-control">
					</div><br>
					<div>
						회원 이름<br>
						<input type="text" name="memberName" id="memberName" class="form-control">
						<span id="nameHelper"></span>
					</div><br>
					<div>
						주소<br>
						<input type="text" name="memberAddr" id="memberAddr" class="form-control">
						<span id="addrHelper"></span>
					</div><br>
					<div>
						휴대폰번호<br>
						<input type="text" name="memberPhone" id="memberPhone" class="form-control">
						<span id="phoneHelper"></span>
					</div><br>
					<div>
						이메일<br>
						<input type="text" name="memberMail" id="memberMail" class="form-control">
						<span id="mailHelper"></span>
					</div><br>
					<div>
						<p><button type="button" id="btn" class="btn btn-primary">회원가입</button></p>
					</div>
				</form>
			</div>
			<div class="col-3"></div>
		</div>
	</div>
</body>
</html>