<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>AddMember</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
	<!-- 클릭시 경고창 리셋 -->
	let helperInit = function() {
		$('#idHelper').text("");
		$('#pwHelper').text("");
		$('#nameHelper').text("");
		$('#addrHelper').text("");
		$('#phoneHelper').text("");
		$('#mailHelper').text("");
	};
	
	<!-- 도큐먼트가 준비되면 클릭 이벤트시 어떠한일을 할것인가 -->
	$(document).ready(function(){
		$('#btn').click(function(){
			helperInit();
			if($('#memberId').val().length < 4) {
				$('#idHelper').text("아이디를 4글자 이상 입력해주세요.");
				$('#memberIdCheck').focus();
			} else if($('#memberPw').val().length < 4) {
				$('#pwHelper').text("비밀번호를 4글자 이상 입력해주세요.");
				$('#memberPw').focus();
			} else if($('#memberPw').val() != $('#memberPw2').val()) {
				$('#pwHelper').text("비밀번호를 확인해주세요.");
				$("#memberPw").focus();
			} else if($('#memberName').val().length === 0) {
				$('#nameHelper').text("이름을 입력해주세요.");
				$("#memberName").focus();
			} else if($('#memberAddr').val().length === 0) {
				$('#addrHelper').text("주소를 입력해주세요.");
				$("#memberAddr").focus();
			} else if($('#memberPhone').val().length === 0) {
				$('#phoneHelper').text("전화번호를 입력해주세요.");
				$("#memberPhone").focus();
			} else if($('#memberMail').val().length === 0) {
				$('#mailHelper').text("메일을 입력해주세요.");
				$("#memberMail").focus();
			} else {
				$('#myForm').submit();
			}
		});
		
		// 중복확인 서브밋 엔터키 키다운
		$('#idForm').keydown(function() {
			if (event.keyCode === 13) {
				event.preventDefault();
			};
		});
		
		<!-- 중복확인 폼 클릭시 -->
		$('#idBtn').click(function(){
			helperInit();
			if($('#memberIdCheck').val().length < 4) {
				$('#idHelper').text("아이디를 4글자 이상 입력해주세요.");
				$('#memberIdCheck').focus();
			} else {
				$('#idForm').submit();
			}
		});
	});
</script>
<style>
	p {
		text-align: center;
	}
</style>
</head>
<body>
	<div class ="container">
		<div class="row">
	  		<div class="col-3"></div>
	  		<div class="col-6">
	  			<br>
				<h1 style="margin: 20px; text-align:center">회원가입</h1>
				
				<!-- 중복확인 폼 -->
				<!-- 글자 형태로 전송하는 enctype.. -->
				<form id="idForm" method="post" th:action="@{/checkMemberId}" enctype="application/x-www-form-urlencoded">
					아이디 중복확인<br>
					<div class="input-group mb-3">
  						<input type="text" name="memberIdCheck" id="memberIdCheck" placeholder="아이디를 입력하세요." class="form-control">
  						<div class="input-group-append">
    						<button type="button" id="idBtn" class="btn btn-primary">중복확인</button>
    					</div>
    				</div>
    				<span id="idHelper" style="color:red;"></span>
    				<span th:text="${msg}" style="color:red;"></span>
				</form>
				
				<!-- 회원가입 폼 -->
				<!-- 바이트 형태로 전송하는 enctype.. -->
				<form id = "myForm" method = "post" th:action="@{/addMember}" enctype="multipart/form-data">
					
					<div>
						아이디<br>
						<input type="text" name="memberId" id="memberId" class="form-control" readonly="readonly" th:value="${memberIdCheck}">
					</div><br>
					<div>
						비밀번호<br>
						<input type="password" name="memberPw" id="memberPw" class="form-control" placeholder="비밀번호를 입력하세요.">
						<span id="pwHelper" style="color:red;"></span>
					</div><br>
					<div>
						비밀번호 확인<br>
						<input type="password" id="memberPw2" class="form-control" placeholder="비밀번호를 한번 더 입력하세요.">
					</div><br>
					<div>
						회원 이름<br>
						<input type="text" name="memberName" id="memberName" class="form-control" placeholder="회원님의 이름을 입력하세요.">
						<span id="nameHelper" style="color:red;"></span>
					</div><br>
					<div>
						사진
						<input type="file" name="memberPic" id="memberPic" class="form-control-file border">
						<span th:text="${msg3}" style="color:red;"></span>
					</div><br>
					<div>
						주소<br>
						<input type="text" name="memberAddr" id="memberAddr" class="form-control" placeholder="주소를 입력하세요.">
						<span id="addrHelper" style="color:red;"></span>
					</div><br>
					<div>
						휴대폰번호<br>
						<input type="text" name="memberPhone" id="memberPhone" class="form-control" placeholder="전화번호를 입력하세요.">
						<span id="phoneHelper" style="color:red;"></span>
					</div><br>
					<div>
						이메일<br>
						<input type="text" name="memberMail" id="memberMail" class="form-control" placeholder="이메일을 입력하세요.">
						<span id="mailHelper" style="color:red;"></span>
					</div><br><br>
					<div>
						<p><button type="button" id="btn" class="btn btn-primary btn-block btn-lg">회원가입</button></p>
					</div>
				</form>
			</div>
			<div class="col-3"></div>
		</div>
	</div>
</body>
</html>