<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
		$('#btn').click(function(){
			$('#form').submit();
		});
	});
</script>
</head>
<body>
	<div class="container">
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">
				<h1 style="margin: 40px; text-align:center">비밀번호 찾기</h1>
				<form method="post" th:action="@{/findMemberPw}" id="form">
					<div>
						아이디
						<input type="text" name="memberId" id="memberId" class="form-control">
					</div><br>
					<div>
						이메일
						<input type="text" name="memberMail" id="memberMail" class="form-control">
					</div><br>
					<div th:text="${msg}" style="color:red;"></div>
					<div th:text="${msg2}" style="color:blue;"></div><br>
					<div>
						<button type="button" id="btn" class="btn btn-primary btn-block btn-lg">입력 완료</button>
					</div>
				</form>
			</div>
			<div class="col-3"></div>
		</div>
	</div>
</body>
</html>