<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>getMemberList</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style th:include="/include/menu::side"></style>
<style>
	#p{
		position: absolute;
	}
	
	#search{
		display : block;
		margin : 0 auto;
		width:600px;
		height:30px;
	}
</style>
<script>
	// 도큐먼트가 준비되고
	$(document).ready(function(){
		// id가 btn인 녀석의 클릭이벤트가 발생했을때
		$('#btn').click(function(){
			// serarchWord의 값이 공백이라면 리턴 후 포커스를 이쪽으로.
			if($('#searchWord').val() == "") {
				$('#searchWord').focus();
				return;
			}
			// if문에서 안걸러졌으면 서브밋
			$('#form').submit();
		});
	});
</script>
</head>
<body>
	<!-- 사이드메뉴 -->
	<div id="sidemenu" th:include="/include/menu::sidemenu" class="sidenav"></div>
	<div class="container">
		<br><br>
		<h1 style="text-align:center;">회원 리스트</h1>
		<br>
		<div class="d-flex justify-content-between">
  			<div class="p-2">
  				<a th:href="@{/getMemberList(currentPage=1)}" style="float: left;" class="btn btn-secondary">처음페이지</a>
  			</div>
  			<div class="p-2">
  				<!-- 이전페이지 -로 안넘어가게 if문 설정 -->
				<a th:if="${currentPage >= 2}" th:href="@{/getMemberList(currentPage=${currentPage-1})}" style="float: left;" class="btn btn-secondary">이전</a>
				<a th:unless="${currentPage >= 2}" th:href="@{/getMemberList(currentPage=1)}" style="float: left;" class="btn btn-secondary">이전</a>
  			</div>
  			<pre>                                                                                           </pre>
  			<div class="p-2">
  				<!-- 다음페이지 lastPage 안넘어가게 if문 설정 -->
				<a th:if="${currentPage < lastPage}" th:href="@{/getMemberList(currentPage=${currentPage+1})}" style="float: right;" class="btn btn-secondary">다음</a>
				<a th:unless="${currentPage < lastPage}" th:href="@{/getMemberList(currentPage=${lastPage})}" style="float: right;" class="btn btn-secondary">다음</a>
  			</div>
  			<div class="p-2">
  				<a th:href="@{/getMemberList(currentPage=${lastPage})}" style="float: right;" class="btn btn-secondary">마지막페이지</a>
  			</div>
  		</div>
		<br>
		<table class="table table table-hover table-bordered" style="width:1100px; margin:auto; text-align:center;">
			<thead>
				<tr>
					<th bgcolor="#EAEAEA">아이디</th>
					<th bgcolor="#EAEAEA">성명</th>
					<th bgcolor="#EAEAEA">전화번호</th>
					<th bgcolor="#EAEAEA">주소</th>
					<th bgcolor="#EAEAEA">메일</th>
					<th bgcolor="#EAEAEA">회원 추방</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="list : ${list}">
					<td th:text="${list.memberId}"></td>
					<td th:text="${list.memberName}"></td>
					<td th:text="${list.memberPhone}"></td>
					<td th:text="${list.memberAddr}"></td>
					<td th:text="${list.memberMail}"></td>
					<td>
						<a th:href="@{/removeByAdmin(memberId=${list.memberId})}" style="color:black;">회원 추방</a>
					</td>
				</tr>
			</tbody>
		</table><br>
		<!-- 검색기능 -->
		<form id="form" method="get" th:action="@{/getMemberList}">
			<div class="input-group mb-3 d-flex justify-content-center" style="width:300px;" id="search">
				<input type="text" name="searchWord" id="searchWord" class="form-control" placeholder="회원 아이디를 입력하세요.">
				<div class="input-group-append">
 					<button type="button" id="btn" class="btn btn-secondary">검색</button>
 				</div>
			</div>
		</form>
	</div>
</body>
</html>