<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>member infomation</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
</head>
<body>
	<div th:include="/include/menu::sidemenu"></div>
	<div class = "container">
		<h1>회원정보</h1>
			<div>
				<a th:href="@{/removeMember(memberId=${member.memberId})}">회원탈퇴</a>
				<a th:href="@{/modifyMember(memberId=${member.memberId})}">정보수정</a>
			</div>
			<table border="1">
				<tr>
					<td>아이디</td>
					<td th:text="${member.memberId}"></td>
				</tr>
				<tr>
					<td>이름</td>
					<td th:text="${member.memberName}"></td>
				</tr>
				<tr>
					<td>전화번호</td>
					<td th:text="${member.memberPhone}"></td>
				</tr>
				<tr>
					<td>주소</td>
					<td th:text="${member.memberAddr}"></td>
				</tr>
				<tr>
					<td>이메일</td>
					<td th:text="${member.memberMail}"></td>
				</tr>
			</table>
	</div>
</body>
</html>