<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>member infomation</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style th:include="/include/menu::side">
</style>
<style>
	#sidemenu {
        float: left;
	}
	#ww {
		text-align: right;
	}
	.centered
	{
    	text-align:center;
	}
	
	th{
		background-color:#EAEAEA;
	}
</style>
</head>	
<body>
	<div id="sidemenu" th:include="/include/menu::sidemenu" class="sidenav"></div>
	
	<div class = "container">
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">
				<h1 style="margin: 80px; text-align:center">회원정보</h1>
					<p id="ww"><a th:href="@{/modifyMember(memberId=${member.memberId})}" class="btn btn-primary">정보수정</a></p>
				<table class="table table table-hover table-bordered" style="text-align:center;">
					<colgroup>
				        <col width="300px"/>
				        <col width="1200px"/>
				        <col width="900px"/>
				    </colgroup>
				    <tr>
				    	<th>사진</th>
				    	<td class="centered">
				    		<img th:src="${'/upload/'+member.memberPic}" style="width:200px;" class="rounded-circle" alt="Cinque Terre">
				    	</td>
				    </tr>
					<tr>
						<th>아이디</th>
						<td th:text="${member.memberId}"></td>
					</tr>
					<tr>
						<th>이름</th>
						<td th:text="${member.memberName}"></td>
					</tr>
					<tr>
						<th>전화번호</th>
						<td th:text="${member.memberPhone}"></td>
					</tr>
					<tr>
						<th>주소</th>
						<td th:text="${member.memberAddr}"></td>
					</tr>
					<tr>
						<th>이메일</th>
						<td th:text="${member.memberMail}"></td>
					</tr>
				</table>
				<p id="ww"><a th:href="@{/removeMember(memberId=${member.memberId})}" class="btn btn-danger">회원탈퇴</a></p>
			</div>
			<div class="col-3"></div>
		</div>
	</div>
</body>
</html>