<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Modify Cash</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style th:include="/include/menu::side"></style>
</head>
<body>
	<div id="sidemenu" th:include="/include/menu::sidemenu" class="sidenav"></div>
	<div class="container">
		<br><br>
		<h1 style="text-align:left; font-weight:bold;">2020년 가계부</h1>
		<h3 style="margin: 80px; text-align:center">수입/지출 수정</h3>
		<form method="post" th:action="@{/modifyCash}" id="form">
			<table border="1">
				<tr>
					<td>카테고리</td>
					<td>
						<select id="categoryName" name="categoryName" th:field="${cash.categoryName}">
							<option value="">카테고리 선택</option>
							<option th:each="${cash.categoryName}" th:value="${cash.categoryName}" th:text="${cash.categoryName}"></option>
						</select>
					</td>
				</tr>
			</table>
		</form>
	</div>
</body>
</html>