<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>modifyMember</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>

	let helperInit = function() {
		$('#idHelper').text("");
		$('#nameHelper').text("");
		$('#addrHelper').text("");
		$('#phoneHelper').text("");
		$('#mailHelper').text("");
	};

	$(document).ready(function(){
		$('#btn').click(function(){
			helperInit();
			if($('#memberId').val().length < 4) {
				$('#idHelper').text("아이디를 4글자 이상 입력해주세요.");
				$('#memberId').focus();
			} else if($('#memberName').val().length === 0) {
				$('#nameHelper').text("이름을 입력해주세요.");
				$("#memberName").focus();
			} else if($('#memberAddr').val().length === 0) {
				$('#addrHelper').text("주소를 입력해주세요.");
				$("#memberAddr").focus();
			} else if($('#memberPhone').val().length === 0) {
				$('#phoneHelper').text("전화번호를 입력해주세요.");
				$("#memberPhone").focus();
			} else if($('#memberMail').val().length === 0) {
				$('#mailHelper').text("메일을 입력해주세요.");
				$("#memberMail").focus();
			} else {
				$('#form').submit();
			}
		});
	});
</script>
<style th:include="/include/menu::side"></style>
<style>
	#sidemenu {
		float: left;
	}
</style>
</head>
<body>
	<div id="sidemenu" th:include="/include/menu::sidemenu" class="sidenav"></div>
	<div class="container">
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">
				<h1 style="margin: 80px; text-align:center">회원정보 수정</h1>
				<form method="post" action="/modifyMember" id="form" enctype="multipart/form-data">
					<table class="table table table-hover">
						<tr>
							<td>사진</td>
							<td class="centered">
				    			<img th:src="${'/upload/'+member.memberPic}" style="width:200px;" class="rounded-circle" alt="Cinque Terre"><br><br>
				    			<input type="file" name="memberPic" id="memberPic" class="form-control-file border">
				    		</td>
						</tr>
						<tr>
							<td>아이디</td>
							<td>
								<input type="text" name="memberId" id="memberId" th:value="${member.memberId}" class="form-control" readonly="readonly">
							</td>
						</tr>
						<tr>
							<td>비밀번호</td>
							<td>
								<input type="password" name="memberPw" id="memberPw" th:value="${member.memberPw}" class="form-control">
							</td>
						</tr>
						<tr>
							<td>이름</td>
							<td>
								<input type="text" name="memberName" id="memberName" th:value="${member.memberName}" class="form-control">
							</td>
						</tr>
						<tr>
							<td>전화번호</td>
							<td>
								<input type="text" name="memberPhone" id="memberPhone" th:value="${member.memberPhone}" class="form-control">
							</td>
						</tr>
						<tr>
							<td>주소</td>
							<td>
								<input type="text" name="memberAddr" id="memberAddr" th:value="${member.memberAddr}" class="form-control">
							</td>
						</tr>
						<tr>
							<td>이메일</td>
							<td>
								<input type="text" name="memberMail" id="memberMail" th:value="${member.memberMail}" class="form-control">
							</td>
						</tr>
						<tr>
							<td colspan="2">
								<button type = "button" id="btn" class="btn btn-primary btn-block">수정</button>
							</td>
						</tr>
					</table>
					<span id="idHelper"></span>
					<span id="nameHelper"></span>
					<span id="addrHelper"></span>
					<span id="phoneHelper"></span>
					<span id="mailHelper"></span>
				</form>
			</div>
			<div class="col-3"></div>
		</div>
	</div>
</body>
</html>