<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<script>
	$(document).ready(function(){
		$('#btn').click(function(){
			$('#form').submit();
		});
	});
</script>
<style>
	#sidemenu {
		float: left;
	}
	
	p {
		text-align: center;
	}
</style>
</head>
<body>
	<div id="sidemenu" th:include="/include/menu::sidemenu"></div>
	<div class="container">
		<div class="row">
			<div class="col-3"></div>
			<div class="col-6">
				<h1 style="margin: 45px; text-align:center">회원탈퇴</h1>
				<form method="post" action="/removeMember" id="form">
					<div>
						아이디
						<input type="text" name="memberId" th:value="${loginMember.memberId}" readonly="readonly" class="form-control">
					</div><br>
					<div>
						비밀번호
						<input type="password" name="memberPw" class="form-control" placeholder="본인 확인을 위해 비밀번호를 입력해주세요.">
					</div>
					<span th:text="${msg}"></span><br>
					<div>
						<p><button type="button" id="btn" class="btn btn-danger btn-block btn-lg">회원탈퇴</button></p>
					</div>
				</form>
			</div>
			<div class="col-3"></div>
		</div>
	</div>
</body>
</html>