<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 네임스페이스는 매퍼의 위치와 매퍼의 이름 -->
<mapper namespace="com.gdu.cashbook.mapper.CashMapper">
	<select id="selectCashListByDate" parameterType="com.gdu.cashbook.vo.Cash" resultType="com.gdu.cashbook.vo.Cash">
		SELECT
			cash_kind as cashKind,
			category_name as categoryName,
			cash_price as cashPrice,
			cash_place as cashPlace,
			cash_memo as cashMemo
		FROM cash
		WHERE member_id = #{memberId}
		AND cash_date = #{cashDate}
		ORDER BY cash_no ASC
	</select>
</mapper>