<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 네임스페이스는 매퍼의 위치와 매퍼의 이름 -->
<mapper namespace="com.gdu.cashbook.mapper.CategoryMapper">
	<!-- 카테고리 이름 가져오는 쿼리 -->
	<select id="selectCategoryName" parameterType="String" resultType="com.gdu.cashbook.vo.Category">
		SELECT category_name as categoryName
		FROM cashbook_category
		WHERE member_id = #{memberId}
	</select>
	
	<!-- 카테고리 추가 -->
	<insert id="addCategory" parameterType="Map">
		INSERT INTO cashbook_category(category_name, member_id) VALUES(#{categoryName}, #{memberId})
	</insert>
	
	<!-- 카테고리 삭제 -->
	<delete id="removeCategory" parameterType="Map">
		DELETE FROM
			cashbook_category
		WHERE category_name = #{categoryName}
		AND member_id = #{memberId}
	</delete>
	
	<!-- 카테고리 전체삭제 -->
	<delete id="removeCategoryAll" parameterType="String">
		DELETE FROM
			cashbook_category
		WHERE member_id = #{memberId}
	</delete>
</mapper>