<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 네임스페이스는 매퍼의 위치와 매퍼의 이름 -->
<mapper namespace="com.gdu.cashbook.mapper.CommentMapper">
	<!-- 해당 멤버의 댓글 전체삭제 -->
	<delete id="removeCommentAll" parameterType="String">
		DELETE FROM comment
		WHERE member_id = #{memberId}
	</delete>

	<!-- 댓글리스트 -->
	<select id="getCommentList" parameterType="Map" resultType="com.gdu.cashbook.vo.Comment">
		SELECT
			comment_no as commentNo,
			board_no as boardNo,
			comment_content as commentContent,
			member_id as memberId,
			admin_id as adminId
		FROM cashbook_comment
		WHERE board_no = #{boardNo}
		ORDER BY comment_no DESC
		LIMIT #{beginRow}, #{rowPerPage}
	</select>
	
	<!-- 일반회원 댓글추가 -->
	<insert id="addComment" parameterType="com.gdu.cashbook.vo.Comment">
		INSERT INTO cashbook_comment(
			comment_content,
			board_no,
			member_id)
		VALUES(
			#{commentContent},
			#{boardNo},
			#{memberId})
	</insert>
	
	<!-- 관리자 댓글추가 -->
	<insert id="addCommentByAdmin" parameterType="com.gdu.cashbook.vo.Comment">
		INSERT INTO cashbook_comment(
			comment_content,
			board_no,
			admin_id,
			member_id)
		VALUES(
			#{commentContent},
			#{boardNo},
			#{adminId},
			#{adminId})
	</insert>
	
	<!-- 댓글 업데이트 -->
	<update id="modifyComment" parameterType="com.gdu.cashbook.vo.Comment">
		UPDATE cashbook_comment
		SET
			comment_content = #{commentContent}
		WHERE comment_no = #{commentNo}
	</update>
	
	<!-- 댓글 삭제 -->
	<delete id="removeComment" parameterType="com.gdu.cashbook.vo.Comment">
		DELETE
		FROM cashbook_comment
		WHERE comment_no = #{commentNo}
	</delete>
	
	<!-- 총 댓글 갯수 -->
	<select id="totalComment" resultType="int" parameterType="int">
		SELECT IFNULL(COUNT(*), 0)
		FROM cashbook_comment
		WHERE board_no = #{boardNo}
	</select>	
</mapper>