<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 네임스페이스는 매퍼의 위치와 매퍼의 이름 -->
<mapper namespace="com.gdu.cashbook.mapper.MemberidMapper">
	<!-- 삭제시 memberid 테이블에 추가되는쿼리 -->
	<insert id="insertMemberId" parameterType="String">
		INSERT INTO cashbook_memberid(
			member_id
		) VALUES (
			#{memberId}
		)
	</insert>
</mapper>